.container {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 576px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../public/img/pc.png);
  }

  .inputs {
    display: flex;
  }

  div.wrapper {
    backdrop-filter: blur(7px);
    background-color: #12121236;
  }

  div.mr {
    margin-right: 1rem;
  }

  .group {
    margin-right: 1rem;
  }

  div.loading {
    background-color: #fff;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.form {
  background: white;
  padding: 2rem 1.5rem;
  border-radius: 6px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.title {
  margin: 0 0 1.5rem;
}

.form label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #334155;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  border: none;
  background: #EDEDED;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 4px;
  transition: all .2s ease-out;
  border-radius: 4px;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  box-shadow: 0 0 0 4px #3a85ff6c;
  border: none;
  outline: none;
}

div.wrapper {
  transition: all .2s ease-out;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.group {
  display: flex;
}

.inputs input[type="checkbox"] {
  height: 40px;
  margin: 0;
}

.inputs input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}

.data {
  margin-right: 1rem;
  width: 100%;
}

.inputs div.full {
  width: 100%;
}

.btn {
  transition: all .2s ease-out;
  background-color: #3a85ff;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn:hover {
  background-color: #005EF4;
  box-shadow: 2px 2px 17px #12121236;
}

div.anima {
  transition: all .2s ease-out;
  animation: anima 1s;
}

div.loading {
  transition: all .2s ease-out;
  animation: anima 1s;
  text-align: center;
  position: absolute;
  border-radius: 12px;
  padding: 2rem 4rem;
}

div.loading p.span {
  font-size: 14pt;
  color: #e63946;
  font-weight: 400;
}

div.loading p {
  color: #121212;
  font-size: 16pt;
  font-weight: 600;
}

@keyframes anima {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
